---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Unity Architecture</h1>

    <p>
        Opinionated architecture for professional Unity development.
    </p>
</MainLayout>